@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.animeEntryRightSlow {
  animation: animeEntryRight 1.2s ease-in-out;
}

.animeEntryLeftSlow {
  animation: animeEntryLeft 1.2s ease-in-out;
}

.animeEntry {
  animation: animeEntry .5s ease-in-out;
}

@keyframes animeEntry {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes animeLoop {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes animeEntryRight {
  from {
    transform: translateX(40px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes animeEntryLeft {
  from {
    transform: translateX(-40px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}