@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  width: 12px;
}
.search-scrollbar::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track,
.search-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.search-scrollbar::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
  background: #F3637C;
  border-radius: 10px;
}

.shadowCustom {
  box-shadow: 4px 4px 20px rgb(0 0 0 / 0.3);
}

.animeEntryRightSlow {
  animation: animeEntryRight 1.2s ease-in-out;
}

.animeEntryLeftSlow {
  animation: animeEntryLeft 1.2s ease-in-out;
}

.animeEntry {
  animation: animeEntry .5s ease-in-out;
}

@keyframes animeEntry {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes animeLoop {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes animeEntryRight {
  from {
    transform: translateX(40px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes animeEntryLeft {
  from {
    transform: translateX(-40px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}